<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #3f51b5;"></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="selectOptionMenu('list')"
        [ngClass]="typeInScreen === 'list' ? 'selected-menu' : ''">Listagem</a>
      <a mat-list-item (click)="selectOptionMenu('register')"
        [ngClass]="typeInScreen === 'register' ? 'selected-menu' : ''">Registro</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Itens</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <div class="full-content">
      <div *ngIf="typeInScreen === 'list'">
        <app-list> </app-list>
      </div>
      <div *ngIf="typeInScreen === 'register'">
        <app-register> </app-register>
      </div>

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>